:root {
  --primary-text: #101010;
  --primary-bg: #1f2123;
  --primary-white: #ffffff;
  --primary-highlight: #6bd0ff;
  --secondary-highlight: #3fa0ef;
  --secondary-dark-highlight: #1a74e2;
  --linkedin: #2867b2;
  --insta: #e1306c;
  --twitter: #1da1f2;
  --github: #6e5494;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parallax story */

#scroll-section {
  background: url("./img/man-no-bg.jpg") no-repeat fixed left center/cover;
}

.about {
  height: 900vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.about-title {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  margin: 0 !important;
}

.about-pages {
  margin-top: 3rem;
  width: 50%;
}

h1 {
  position: relative;
  padding: 10vh 0 1rem 0;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 1rem;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

h1:after {
  content: "";
  position: absolute;
  left: 47.5%;
  bottom: 0;
  transform: translate(-50%);
  height: 0.5rem;
  width: 17rem;
  border-radius: 5px;
  background-color: var(--primary-highlight);
}

.about-title p {
  margin-top: 1rem;
  line-height: 2;
}

.about-pages div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .about-pages div > p {
  width: 90%;
  font-size: 1.5rem;
  line-height: 2rem;
} */

.vertical img {
  height: 70vh;
  box-shadow: 2px 2px 25px 5px #333333;
}

.boxy img {
  width: 90%;
  box-shadow: 2px 2px 25px 5px #333333;
}

#horizontal-banners img {
  max-width: 99vw;
  justify-content: center;
}

.design-container h2 {
  margin: 5rem 0;
}

#full-concepts {
  text-align: center;
}

#full-concepts img {
  width: 90vw;
  margin-bottom: 5rem;
}

/* media queries */
